body{
    padding: 15px;
    background-color: rgb(0, 153, 255);
    font-family: sans-serif;
}

#title{
    padding: 10px;
    font-size: 36px;
    border: 2px solid white;
    width: 250px;
}

#todo-header{
    font-size: 24px;
}

ul{
   list-style: none;
   padding-left: 0;
   width: 250px; 
}

li{
    color: black;
    background-color: rgba(255,255,255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}


img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
  }
  /*
  stylize any heading tags withing white-panel below
  */
  
  .white-panel h1 {
    font-size: 1em;
  }
  .white-panel h1 a {
    color: #A92733;
  }
  .white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }